<template>
  <div class="bookmark">
    <p class="bookmark__text b2">
      Bookmark this tool in your browser for easy access during your next rectal
      health consultation.
    </p>
    <div class="bookmark__arrow">
      <svg
        width="10"
        height="17"
        viewBox="0 0 10 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1.5L8 8.5L0.999999 15.5"
          stroke="#35B1C9"
          stroke-width="2"
        />
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "CommonBookmark",
}
</script>
<style lang="scss" scoped>
.bookmark {
  position: absolute;
  right: 0;
  top: 130px;
  padding: 16px;
  background-color: white;
  border-radius: 12px 0px 0px 12px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 300px;
  align-items: center;
  gap: 10px;
  @include mobile {
    top: 80px;
    padding: 12px;
    width: 200px;
  }
}
.bookmark__text {
  @include mobile {
    font-size: 12px;
  }
}
</style>
