<template>
  <a
    :href="props.link"
    :target="props.isExternal ? '_blank' : '_self'"
    class="button"
    >{{ props.text }}</a
  >
</template>

<script lang="ts">
export default {
  name: "CommonButton",
}
</script>

<script lang="ts" setup>
interface Props {
  text: string
  link?: string
  isExternal?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  isExternal: false,
  link: "#",
})
</script>

<style lang="scss" scoped>
.button {
  border-radius: 46px;
  padding: 10px 18px;
  background-color: var(--c-care-blue);
  color: var(--c-pure-white);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity var(--transition-fast);
}
@include hover {
  .button:hover {
    opacity: 0.7;
  }
}
</style>
