<template>
  <div class="modal">
    <div class="modal__inner">
      <button class="close-btn" @click.stop="() => closeModal()">
        <svg
          width="35"
          height="36"
          viewBox="0 0 35 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="0.675743"
            y1="34.6169"
            x2="34.6169"
            y2="0.675781"
            stroke="black"
          />
          <line
            y1="-0.5"
            x2="48"
            y2="-0.5"
            transform="matrix(0.707107 0.707107 0.707107 -0.707107 1 1.0293)"
            stroke="black"
          />
        </svg>
      </button>
      <div class="modal__left">
        <p class="sub-title">{{ props.subTitle }}</p>
        <p class="title">
          {{ props.title }}
        </p>
        <p class="description" v-html="props.description" />
        <div class="modal__referrences">
          <p class="p5" v-html="props.referrences" />
        </div>
      </div>
      <div class="modal__right">
        <img :src="props.image" alt="intestine" />
        <img class="titles-img" :src="props.titlesImage" alt="titles" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
interface Props {
  subTitle: string
  title: string
  description: string
  image: string
  titlesImage: string
  referrences: string
}

const props = defineProps<Props>()

const isModalVisible = useState("isModalVisible")

function closeModal() {
  isModalVisible.value = false
}
</script>

<script lang="ts">
export default {
  name: "MainModal",
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  isolation: isolate;
}
.modal:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: var(--z-bg);
}
.modal__inner {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 1000;
  background-color: var(--c-pure-white);
  border-radius: 12px;
  padding-left: 88px;
  padding-bottom: 64px;
  @include tabletPortrait {
    top: 16px;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 42px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100vh - 32px);
    overflow: auto;
  }
  @include mobile {
    padding: 16px;
  }
}

.close-btn {
  position: absolute;
  top: 46px;
  right: 42px;
  cursor: pointer;
  width: 34px;
  height: 34px;
  z-index: 10;
  transition: all 0.3s ease-out;
  @include mobile {
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
  }
}

.close-btn {
  @include hover() {
    &:hover {
      transform: rotate(90deg);
    }
  }
}

.close-btn svg {
  display: block;
  width: 100%;
  height: 100%;
}

.modal__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 39%;
  padding-top: 64px;
  @include tabletPortrait {
    width: 100%;
  }
  @include mobile {
    padding-top: 24px;
  }
}
.modal__referrences {
  margin-top: auto;
  @include tabletPortrait {
    margin-top: 24px;
  }
}

.modal__right {
  position: relative;
  width: 67%;

  @media ((max-height: 750px) and (min-width: 768px)) {
    width: 50%;
  }
  @include tabletPortrait {
    width: 100%;
  }
}

.modal__right img {
  width: 100%;
  height: 637px;
  object-fit: contain;
  object-position: center center;
  @include mobile {
    height: 350px;
  }
}

.titles-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sub-title {
  color: var(--c-black);
  font-family: var(--font-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.768px;
  opacity: 0.4;
  @include mobile {
    font-size: 20px;
  }
}

.title {
  color: #11274c;
  font-family: var(--font-bold);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 24px 0 80px;
  @include tablet {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @include mobile {
    font-size: 32px;
    margin: 16px 0 40px;
    letter-spacing: -1.2px;
  }
}

.description {
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--c-black);
}
</style>
