<template>
  <div class="apply-step">
    <div class="num-wrap">
      <div class="step-num">0{{ props.number }}</div>
      <div v-if="!props.isLast" class="line" />
    </div>
    <p class="step-description p2">
      {{ props.description }}
    </p>
  </div>
</template>

<script setup lang="ts">
interface Props {
  number: number
  description: string
  isLast?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  isLast: false,
})
</script>

<style lang="scss" scoped>
.apply-step {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.num-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-num {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--c-pure-white);
  color: var(--c-black);
  border: 1px solid var(--c-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  width: 1px;
  height: 65px;
  background-color: var(--c-black);
  opacity: 0.4;
  margin-top: 12px;
}

.step-description {
  margin-left: 16px;
  margin-top: 12px;
  @include mobile {
    margin-top: 10px;
  }
}
</style>
