<template>
  <div class="diagnose">
    <div class="diagnose__block">
      <div class="diagnose__col">
        <p class="diagnose__title h1 js-fade">
          Reached an anal fissure diagnosis?
        </p>
      </div>
      <div class="diagnose__col">
        <p class="diagnose__subtitle h2 js-fade">
          It is time to recommend Rectogesic® as a treatment option.
        </p>
        <p class="diagnose__description b1 js-fade">
          Rectogesic® ointment is a non-prescription treatment that has been
          clinically shown to provide rapid and sustained relief of pain
          associated with medically diagnosed anal fissures and the active
          ingredient (0.2% glyceryl trinitrate) has been shown to promote wound
          healing in 2–8 weeks.<sup>1-4</sup>
        </p>
        <img
          src="/images/main/ointment.png"
          alt="ointment"
          class="diagnose__image image-single js-fade"
        />
      </div>
    </div>
    <div class="diagnose__block">
      <div class="diagnose__col">
        <p class="diagnose__title h1 js-fade">How does it work?</p>
        <p class="diagnose__description b1 js-fade">
          Rectogesic® contains the active ingredient glyceryl trinitrate.<sup
            >1
          </sup>
          It works by releasing a chemical called nitric oxide which relaxes the
          anal sphincter.<sup>5</sup> This helps to relieve pain and promote
          wound healing.<sup>2-8</sup>
        </p>
      </div>
      <div class="diagnose__col">
        <div
          class="images-compare js-fade"
          @pointermove="onPointermove"
          @pointerleave="onPointerleave"
        >
          <img
            src="/images/main/no_fissure.png"
            alt="no fissure"
            width="600"
            height="511"
          />
          <img
            ref="image"
            src="/images/main/fissure.png"
            alt="fissure"
            width="600"
            height="511"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
const image = ref<HTMLElement>()

function onPointermove(e: PointerEvent) {
  if (!image.value) return
  const width = Math.max(0, e.offsetX)
  image.value.style.width = `${width}px`
}
function onPointerleave() {
  if (!image.value) return
  image.value.style.width = `50%`
}
</script>

<style lang="scss" scoped>
.diagnose__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  @include tabletPortrait {
    display: block;
  }
}

.diagnose__block + .diagnose__block {
  margin-top: 80px;
  @include mobile {
    margin-top: 56px;
  }
}
.diagnose__title + .diagnose__description {
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}

.diagnose__col + .diagnose__col {
  @include mobile {
    margin-top: 32px;
  }
}
.diagnose__subtitle + .diagnose__description {
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}
.diagnose__image {
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}

.images-compare {
  width: 600px;
  height: 511px;
  position: relative;
  @include mobile {
    width: 100%;
    height: auto;
    aspect-ratio: 600 / 511;
  }
}
.images-compare > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  object-position: left top;
}
// .images-compare > img:first-child {
//   filter: grayscale(0.1);
// }
.images-compare > img:last-child {
  width: 50%;
  border-right: 2px solid white;
  // border-right: 1px solid black;
}

.image-single {
  display: block;
  width: 100%;
  @include mobile {
    height: 41vw;
  }
}
</style>
