<template>
  <div class="navigation">
    <div class="navigation__items">
      <div class="navigation__item">
        <a href="#interactive">Interactive scene</a>
      </div>
      <div class="navigation__item">
        <a href="#differences">Differences</a>
      </div>
      <div class="navigation__item">
        <a href="#rectogesic">Rectogesic®</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.navigation {
  position: sticky;
  bottom: 0;
  height: 64px;
  background-color: white;
  z-index: var(--z-top);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
  transition: var(--transition-fast);
}
.navigation.active {
  opacity: 1;
  pointer-events: all;
}
.navigation__scroll-down {
  display: flex;
  align-items: center;
}
.navigation__items {
  display: flex;
  gap: 40px;
}
.navigation__item > a {
  color: var(--c-blue);
  font-family: var(--font-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity var(--transition-fast);
}
.navigation__item > a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-blue);
  transition: transform var(--transition-fast);
  transform: scaleX(0);
  transform-origin: left center;
}
.navigation__item > a.active:after {
  transform: scaleX(1);
}
@include hover {
  .navigation__item > a:hover:after {
    transform: scaleX(1);
  }
}
</style>
