<template>
  <div class="navigation">
    <div class="navigation__scroll-down">
      <IconArrowDownInCircle />
    </div>
    <div class="navigation__items">
      <div
        v-for="{ scene_id: id, text } in sceneNav"
        :key="id"
        class="navigation__item"
      >
        <a
          :href="`#interactive`"
          :class="{
            active: activeScene === id && props.activeItemId === 'interactive',
          }"
          @click.prevent="() => scrollToScene(id)"
          >{{ text }}</a
        >
      </div>
      <div v-for="{ id, text } in nav" :key="id" class="navigation__item">
        <a
          :href="`#${id}`"
          :class="{ active: props.activeItemId === id }"
          @click.prevent="() => scrollTo(id)"
          >{{ text }}</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { PageSectionId } from "~/types"

interface Props {
  activeItemId?: PageSectionId
}

const props = withDefaults(defineProps<Props>(), {
  activeItemId: "interactive",
})

const activeScene = useState("active-scene")
const currentSectionId = useState<PageSectionId>("currentSectionId")

const sceneNav: {
  text: string
  scene_id: number
}[] = [
  {
    text: "Overview",
    scene_id: 1,
  },
  {
    text: "Haemorrhoids",
    scene_id: 2,
  },
  {
    text: "Anal Fissures",
    scene_id: 3,
  },
]

const nav: {
  text: string
  id: PageSectionId
}[] = [
  {
    text: "Comparison",
    id: "differences",
  },
  {
    text: "Rectogesic®",
    id: "rectogesic",
  },
]

function scrollTo(block: PageSectionId) {
  currentSectionId.value = block
  document.querySelector(`#${block}`)?.scrollIntoView()
}

function scrollToScene(id: number) {
  scrollTo("interactive")
  activeScene.value = id
}
</script>

<style lang="scss" scoped>
.navigation {
  position: sticky;
  bottom: 0;
  height: 64px;
  background-color: white;
  z-index: var(--z-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 44px;
  // pointer-events: none;
  // opacity: 0;
  // transition: var(--transition-fast);
  @include mobile {
    display: none;
  }
}
.navigation.active {
  opacity: 1;
  pointer-events: all;
}
.navigation__scroll-down {
  display: flex;
  align-items: center;
}
.navigation__items {
  display: flex;
}
.navigation__item + .navigation__item {
  margin-left: 40px;
}
.navigation__item > a {
  color: var(--c-blue);
  font-family: var(--font-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity var(--transition-fast);
}
.navigation__item > a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-blue);
  transition: transform var(--transition-fast);
  transform: scaleX(0);
  transform-origin: left center;
}
.navigation__item > a.active:after {
  transform: scaleX(1);
}
@include hover {
  .navigation__item > a:hover:after {
    transform: scaleX(1);
  }
}
</style>
