<template>
  <div class="how-apply">
    <div class="how-apply__left">
      <p class="how-apply__left-title h1 js-fade">How to apply Rectogesic®</p>
      <p class="how-apply__left-description b1 js-fade">
        Rectogesic® is an external ointment that can be self-applied by
        patients using the following steps:<sup>9</sup>
      </p>
      <div class="how-apply__steps">
        <div
          v-for="(step, idx) in applySteps"
          :key="step.number"
          class="apply-step js-fade"
        >
          <MainApplyStep
            :number="step.number"
            :description="step.description"
            :is-last="idx === applySteps.length - 1"
          />
        </div>
      </div>
      <p class="how-apply__bottom-text b1">
        *Rectogesic® contains glyceryl trinitrate and must be used strictly as
        directed.<sup>9</sup> †To avoid the development of tolerance, ensure
        there is a 12-hour period each day where Rectogesic® is not used.<sup
          >9</sup
        >
      </p>
    </div>
    <div class="how-apply__right">
      <div class="how-apply__right-illustration">
        <img
          class="steps-image js-fade"
          src="/images/main/instruction.svg"
          alt="steps"
        />
        <img
          class="ointment-image js-fade"
          src="/images/main/ointment.png"
          alt="ointment"
        />
        <div class="request-btn js-fade">
          <CommonButton text="Request free samples" />
        </div>
      </div>
      <p class="how-apply__right-bottom-text b1">
        Please refer to the instructions for use leaflet for more
        information.<sup>9</sup>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
const applySteps = [
  {
    number: 1,
    description:
      "Wrap your finger in plastic wrap or use a finger cot available from your pharmacist",
  },
  {
    number: 2,
    description:
      "Place your finger alongside the 1.5 cm dosing line located on the side of the carton",
  },
  {
    number: 3,
    description:
      "Dispense Rectogesic® along your finger and use the line to measure the desired dose",
  },
  {
    number: 4,
    description:
      "Gently apply Rectogesic® into the anal canal to the depth of the first finger joint (approximately 1 cm)",
  },
  {
    number: 5,
    description:
      "Apply Rectogesic® up to three times daily as directed by your doctor",
  },
  {
    number: 6,
    description: "Wash hands after use",
  },
]
</script>

<style lang="scss" scoped>
.how-apply {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  @include tabletPortrait {
    display: block;
  }
}

.how-apply__left-title + .how-apply__left-description {
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}
.how-apply__steps {
  margin-top: 50px;
  @include mobile {
    margin-top: 32px;
  }
}

.apply-step:not(:first-child) {
  margin-top: 12px;
}

.how-apply__right {
  @include mobile {
    margin-top: 32px;
  }
}
.how-apply__right-illustration {
  border-radius: 10.827px;
  background: var(--c-bg);
  box-shadow: 0px 39.699249267578125px 112.7819595336914px 0px
    rgba(17, 39, 76, 0.15);
  padding: 16px 16px 30px 16px;
}

.steps-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.ointment-image {
  width: 488px;
  height: 149px;
  margin: 0 auto;
  margin-top: 60px;
  @include mobile {
    width: 100%;
    height: auto;
    margin-top: 40px;
    aspect-ratio: 488 / 149;
  }
}

.request-btn {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  @include mobile {
    margin-top: 40px;
  }
}
.how-apply__bottom-text {
  color: var(--c-blue);
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}
.how-apply__right-bottom-text {
  color: var(--c-blue);
  margin-top: 40px;
  @include mobile {
    margin-top: 32px;
  }
}
</style>
