<template>
  <div class="precautions">
    <div class="precautions-left">
      <p class="h1 js-fade">
        Precautions and warnings<span class="b1"><sup>1 , 9</sup></span>
      </p>
    </div>
    <div class="precautions-right b1">
      <div class="">
        <p class="js-fade">
          Rectogesic® may cause headaches. Do not use more than directed. You
          may experience a fainting effect or dizziness following application of
          Rectogesic®.<br />Unless a doctor has told you to, do not use if you:
        </p>
        <ul class="precautions-right__list">
          <li class="js-fade">
            Suffer from severe anaemia, glaucoma, hypotension, or increased
            intracranial pressure
          </li>
          <li class="js-fade">
            Take medications to treat erectile dysfunction or heart conditions
          </li>
        </ul>
        <p class="js-fade">
          Ask your doctor or pharmacist for advice if you are pregnant or
          breastfeeding.
        </p>
        <p class="mt-18 js-fade">
          Notify your doctor or pharmacist if you are allergic to glyceryl
          trinitrate. Please refer to the instructions for use leaflet for more
          information. Consult your doctor if symptoms persist. Contains 3.8%
          w/w alcohol.
        </p>
        <p class="bottom-text p5 js-fade">
          REFERENCES: 1. Rectogesic® product label. 2. Ahmada J, et al. Int J
          Surg. 2007;5(6):429–432. 3. Bailey HR, et al. Dis Colon Rectum.
          2002;45(9):1192–9. 4. Lund JN, Scholefield JH. Lancet.
          1997;349(9044):11–4. 5. Zaghiyan KN, Fleshner P. Clin Colon Rectal
          Surg. 2011;24(1):22–30. 6. Kennedy ML, et al. Dis Colon Rectum.
          1999;42(8):1000-6. 7. Tan KY, et al. Br J Surg. 2006;93(12):1464–8. 8.
          Hwang DY, et al. Dis Colon Rectum. 2003;46(7):950–4. 9. Rectogesic®
          Consumer Medicine Information.
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.precautions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include tabletPortrait {
    display: block;
  }
}

.precautions-left {
  width: 46%;
  @include tabletPortrait {
    width: 100%;
  }
}
.precautions-left > p > span {
  position: relative;
  display: inline-block;
  bottom: 16px;
  left: 4px;
}

.precautions-right {
  width: 48%;
  @include tabletPortrait {
    width: 100%;
    margin-top: 32px;
  }
}

.precautions-right__list {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.precautions-right__list li:not(:last-child) {
  margin-bottom: 6px;
}

.mt-18 {
  margin-top: 18px;
}

.bottom-text {
  margin-top: 64px;
  @include mobile {
    margin-top: 32px;
  }
}
</style>
