<template>
  <div ref="container" class="page__3d">
    <div class="page__3d-pagination">
      <button
        v-for="i in 4"
        :key="i"
        aria-label="change slide"
        class="page__3d-bullet"
        :class="{ active: i - 1 === activeTab }"
        @click="() => changeScene(i - 1)"
      />
    </div>
    <div ref="textsContainer" class="scenes">
      <div class="scene scene-1" :class="{ active: activeScene === 1 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="213"
              height="34"
              viewBox="0 0 213 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 0.5L212.5 33.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Rectum</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="167"
              height="28"
              viewBox="0 0 167 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M1 1L166.5 27" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Internal anal sphincter</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="140"
              height="12"
              viewBox="0 0 140 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M1 1L139.5 11.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">External anal sphincter</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="141"
              height="25"
              viewBox="0 0 141 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 24.5L140.5 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Anus</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="185"
              height="109"
              viewBox="0 0 185 109"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 108.5L184 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Anal canal</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="161"
              height="16"
              viewBox="0 0 161 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.5 15.5L160 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle accent">Haemorrhoids</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="170"
              height="12"
              viewBox="0 0 170 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 1L169 11" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle accent">Anal fissures</p>
            </div>
          </div>
        </div>
      </div>
      <div class="scene scene-2" :class="{ active: activeScene === 2 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="273"
              height="92"
              viewBox="0 0 273 92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="46"
                cy="46"
                r="45.5"
                stroke="#11274C"
                class="pulsing"
                transform-origin="46 46"
              />
              <circle cx="46" cy="46" r="7" fill="#11274C" />
              <path d="M46 47.5L272.5 65" stroke="#11274C" />
            </svg>
            <div class="scene__info">
              <p class="scene__info-title">Haemorrhoids</p>
              <p class="scene__info-text">
                Enlarged and swollen veins in and around the anus or lower
                rectum.
              </p>
              <button
                class="scene__info-button"
                @click.stop="() => setModal(1)"
              >
                Learn more
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="scene scene-3" :class="{ active: activeScene === 3 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="379"
              height="92"
              viewBox="0 0 379 92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="333"
                cy="46"
                r="45.5"
                stroke="#11274C"
                class="pulsing"
                transform-origin="333 46"
              />
              <circle cx="333" cy="46" r="7" fill="#11274C" />
              <path d="M1 18L339.5 46.5" stroke="#11274C" />
            </svg>
            <div class="scene__info">
              <p class="scene__info-title">Anal fissures</p>
              <p class="scene__info-text">
                Small tears in the skin that lines the anus and are often caused
                by passing hard stool.
              </p>
              <button
                class="scene__info-button"
                @click.stop="() => setModal(2)"
              >
                Learn more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "MainScenesWithoutWheelDetection",
}
</script>

<script lang="ts" setup>
import { gsap, ScrollTrigger } from "gsap/all"
import Rectum3D from "~/utils/Rectum3D"

const container = ref<HTMLElement>()
const textsContainer = ref<HTMLElement>()
const scene = ref<Rectum3D>()
const activeScene = ref(0)
const activeTab = ref(0)

onMounted(() => {
  gsap.registerPlugin(ScrollTrigger)
  if (container.value && textsContainer.value) {
    scene.value = new Rectum3D(
      container.value,
      "/models/Rectum.glb",
      textsContainer.value
    )

    scene.value.setSceneElements("first", [
      ...(container.value
        .querySelector(".scene-1")
        ?.querySelectorAll<HTMLElement>(".scene__item") ?? []),
    ])

    scene.value.on("scene-start", () => {
      activeScene.value = -1
    })

    const itemsFirst =
      container.value
        .querySelector(".scene-1")
        ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
    scene.value?.setSceneElements("first", [...itemsFirst])

    const itemsSecond =
      container.value
        .querySelector(".scene-2")
        ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
    scene.value?.setSceneElements("second", [...itemsSecond])

    const itemsThird =
      container.value
        .querySelector(".scene-3")
        ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
    scene.value?.setSceneElements("third", [...itemsThird])

    scene.value.on("scene-end", () => {
      activeTab.value = activeScene.value =
        scene.value?.getCurrentSceneId() ?? -1
    })
  }
})

function changeScene(i: number) {
  if (!scene.value) return
  if (!scene.value.is_playing) {
    const sceneNames = scene.value?.getSceneNames()
    activeTab.value = activeScene.value = i
    scene.value.changeScene(sceneNames[i])
  }
}

const isModalVisible = useState("isModalVisible")

const emit = defineEmits(["setModal"])

function setModal(id: number) {
  isModalVisible.value = true
  emit("setModal", id)
}
</script>

<style lang="scss" scoped>
.page__3d {
  overflow: hidden;
  position: relative;
  background-image: url("/images/main/Home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.page__3d-pagination {
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.page__3d-bullet {
  width: 15px;
  height: 64px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.page__3d-bullet + .page__3d-bullet {
  margin-top: 8px;
}
.page__3d-bullet.active:before {
  opacity: 1;
}

.page__3d-bullet:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--c-blue);
  opacity: 0.2;
  transition: opacity 0.3s ease-out;
}

.scenes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cell";
  z-index: var(--z-top);
  pointer-events: none;
}
.scene {
  --scene-height: 824;
  grid-area: cell;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.scene.active {
  opacity: 1;
}
.scene.active .scene__info {
  pointer-events: all;
}
.scene__info-subtitle {
  color: #7a7a7a;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  letter-spacing: -0.672px;
}
.scene__info-subtitle.accent {
  color: var(--c-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: -0.768px;
}

.scene__info-title {
  color: var(--c-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: -0.768px;
}
.scene__info-text {
  color: var(--c-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scene__info-button {
  color: var(--c-blue);
  font-family: var(--font-bold);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 106.667% */
  position: relative;
}
.scene__info-button:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-blue);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: var(--transition-fast);
  transform-origin: left center;
}
@include hover {
  .scene__info-button:hover:after {
    transform: scaleX(0.5);
  }
}

.scene__info {
  position: absolute;
  width: max-content;
}
.scene__info-title + .scene__info-text {
  margin-top: 16px;
}
.scene__info-text + .scene__info-button {
  margin-top: 32px;
}

.scene__item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}
.scene__text {
  position: absolute;
  left: 0;
  top: 0;
}
.scene__text > svg {
  display: block;
  width: auto;
  height: auto;
}

// texts

// 1

// .scene-1 .scene__text:nth-child(1) {
//   left: vwDesktop(473);
//   top: calc(252 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(1) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(1) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}

// 2

// .scene-1 .scene__text:nth-child(2) {
//   left: vwDesktop(505);
//   top: calc(535 / var(--scene-height) * 100vh);
// }

.scene-1 .scene__item:nth-child(2) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(2) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 3

// .scene-1 .scene__text:nth-child(3) {
//   left: vwDesktop(513);
//   top: calc(624 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(3) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(3) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}

// 4

// .scene-1 .scene__text:nth-child(4) {
//   left: vwDesktop(596);
//   top: calc(663 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(4) > .scene__text {
  left: unset;
  right: 0;
}
.scene-1 .scene__item:nth-child(4) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(50%);
  top: 0;
}

// 5

// .scene-1 .scene__text:nth-child(5) {
//   right: vwDesktop(481);
//   top: calc(471 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(5) > .scene__text {
  top: unset;
  bottom: 0;
}
.scene-1 .scene__item:nth-child(5) .scene__info {
  left: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 6

// .scene-1 .scene__text:nth-child(6) {
//   right: vwDesktop(481);
//   top: calc(576 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(6) > .scene__text {
  top: unset;
  bottom: 0;
}
.scene-1 .scene__item:nth-child(6) .scene__info {
  left: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 7

// .scene-1 .scene__text:nth-child(7) {
//   right: vwDesktop(490);
//   top: calc(620 / var(--scene-height) * 100vh);
// }
.scene-1 .scene__item:nth-child(7) > .scene__text {
  top: 0;
}
.scene-1 .scene__item:nth-child(7) .scene__info {
  left: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}

// scene 2

// .scene-2 .scene__text {
//   left: vwDesktop(787);
//   top: calc(483 / var(--scene-height) * 100vh);
// }

.scene-2 > .scene__item:first-child .scene__text {
  transform: translate(-46px, -46px);
}
.scene-2 .scene__info {
  left: calc(100% + 14px);
  top: 50%;
  width: 331px;
}
.scene-2 .scene__info-text {
  color: var(--c-blue);
}

// scene 4

// .scene-3 .scene__text {
//   left: vwDesktop(424);
//   top: calc(493 / var(--scene-height) * 100vh);
// }

.scene-3 .scene__item {
}
.scene-3 .scene__item .scene__text {
  left: unset;
  right: 0;
  transform: translate(46px, -46px);
}
.scene-3 .scene__info {
  right: 264px;
  width: 331px;
  top: 0;
}

.scoll-down-indicator {
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  transition: opacity var(--transition);
}
.scoll-down-indicator.hidden {
  opacity: 0;
}
.scoll-down-indicator > span {
  margin-right: 8px;
  color: var(--c-blue);
  font-family: var(--font-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pulsing {
  animation: pulsing 1s infinite alternate-reverse ease-in-out;
}
@keyframes pulsing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
</style>
