<template>
  <div ref="container" class="page__3d" :class="{ disabled: isDisactive }">
    <div class="page__3d-pagination">
      <button
        v-for="(text, i) in leftPagination"
        :key="i"
        aria-label="change slide"
        class="page__3d-bullet b1"
        :class="{ active: i === activeTab }"
        @click="() => changeScene(i)"
      >
        <span v-if="false">{{ text }}</span>
      </button>
    </div>
    <div ref="textsContainer" class="scenes">
      <Transition name="fade">
        <CommonBookmark v-if="activeScene === 0" />
      </Transition>
      <div class="scene scene-1" :class="{ active: activeScene === 1 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="213"
              height="34"
              viewBox="0 0 213 34"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 0.5L212.5 33.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Rectum</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="167"
              height="28"
              viewBox="0 0 167 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M1 1L166.5 27" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Internal anal sphincter</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="140"
              height="12"
              viewBox="0 0 140 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M1 1L139.5 11.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">External anal sphincter</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="141"
              height="25"
              viewBox="0 0 141 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 24.5L140.5 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Anus</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="185"
              height="109"
              viewBox="0 0 185 109"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path opacity="0.5" d="M0.5 108.5L184 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle">Anal canal</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="161"
              height="16"
              viewBox="0 0 161 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.5 15.5L160 0.5" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle accent">Haemorrhoids</p>
            </div>
          </div>
        </div>
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="170"
              height="12"
              viewBox="0 0 170 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1 1L169 11" stroke="#11274C" />
            </svg>

            <div class="scene__info">
              <p class="scene__info-subtitle accent">Anal fissures</p>
            </div>
          </div>
        </div>
      </div>
      <div class="scene scene-2" :class="{ active: activeScene === 2 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="273"
              height="92"
              viewBox="0 0 273 92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="46"
                cy="46"
                r="45.5"
                stroke="#11274C"
                class="pulsing"
                transform-origin="46 46"
              />
              <circle cx="46" cy="46" r="7" fill="#11274C" />
              <path d="M46 47.5L272.5 65" stroke="#11274C" />
            </svg>
            <div class="scene__info">
              <p class="scene__info-title">Haemorrhoids</p>
              <p class="scene__info-text">
                Enlarged and swollen veins in and around the anus or lower
                rectum.<sup>1</sup>
              </p>
              <button
                class="scene__info-button"
                @click.stop="() => setModal(1)"
              >
                Learn more
              </button>
            </div>
          </div>
        </div>
        <p class="scene__refferences p5">
          REFERENCE: 1. Haemorrhoids. HealthDirect. Available at:
          <a
            href="https://www.healthdirect.gov.au/haemorrhoids-piles"
            target="_blank"
            class="p5-italic"
            >https://www.healthdirect.gov.au/haemorrhoids-piles</a
          >
          . Accessed: June 2023.
        </p>
      </div>
      <div class="scene scene-3" :class="{ active: activeScene === 3 }">
        <div class="scene__item">
          <div class="scene__text">
            <svg
              width="379"
              height="92"
              viewBox="0 0 379 92"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="333"
                cy="46"
                r="45.5"
                stroke="#11274C"
                class="pulsing"
                transform-origin="333 46"
              />
              <circle cx="333" cy="46" r="7" fill="#11274C" />
              <path d="M1 18L339.5 46.5" stroke="#11274C" />
            </svg>
            <div class="scene__info">
              <p class="scene__info-title">Anal fissures</p>
              <p class="scene__info-text">
                Small tears in the skin that lines the anus and are often caused
                by passing hard stool.<sup>1</sup>
              </p>
              <button
                class="scene__info-button"
                @click.stop="() => setModal(2)"
              >
                Learn more
              </button>
            </div>
          </div>
        </div>
        <p class="scene__refferences p5">
          REFERENCE: 1. Anal fissure. HealthDirect. Available at:
          <a
            href="https://www.healthdirect.gov.au/anal-fissure"
            target="_blank"
            class="p5-italic"
            >https://www.healthdirect.gov.au/anal-fissure</a
          >
          Accessed: June 2023.
        </p>
      </div>
    </div>
    <div ref="textsContainerMobile" class="scenes-mobile">
      <div
        class="scene-mobile scene-mobile-1"
        :class="{ active: activeScene === 1 }"
      >
        <template v-for="i in 7" :key="i">
          <button
            class="mobile-point"
            :class="{ active: mobileActivePoint === i }"
            @click.prevent="mobileActivePoint = i"
          >
            <div class="mobile-point__inner" />
          </button>
        </template>
      </div>
      <div
        class="scene-mobile scene-mobile-2"
        :class="{ active: activeScene === 2 }"
      >
        <button
          class="mobile-point"
          :class="{ active: mobileActivePoint === 8 }"
          @click.prevent="mobileActivePoint = 8"
        >
          <div class="mobile-point__inner" />
        </button>
      </div>
      <div
        class="scene-mobile scene-mobile-3"
        :class="{ active: activeScene === 3 }"
      >
        <button
          class="mobile-point"
          :class="{ active: mobileActivePoint === 9 }"
          @click.prevent="mobileActivePoint = 9"
        >
          <div class="mobile-point__inner" />
        </button>
      </div>
    </div>
    <Transition name="fade">
      <div
        v-if="mobileActivePoint > 0"
        class="mobile-text"
        :class="{ saturated: ![6, 7, 8, 9].includes(mobileActivePoint) }"
      >
        <p>{{ mobileActivePointText }}</p>
        <button
          v-if="[8, 9].includes(mobileActivePoint)"
          class="mobile-text__label"
          @click.stop="() => setModal(mobileActivePoint === 8 ? 1 : 2)"
        >
          Learn more
        </button>
      </div>
    </Transition>
    <div class="scoll-down-indicator" :class="{ hidden: activeScene !== 0 }">
      <span> Scroll to Discover </span>
      <IconArrowDownInCircle />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "MainScenes",
}
</script>

<script lang="ts" setup>
import { gsap } from "gsap"
import { ScrollTrigger } from "gsap/all"
import Rectum3D, { TSceneEvents } from "~/utils/Rectum3D"
import { PageSectionId } from "~/types"
import { Animation } from "~/utils/Animation"

const leftPagination = ["", "Overview", "Haemorrhoids", "Anal Fissures"]

const container = ref<HTMLElement>()
const textsContainer = ref<HTMLElement>()
const textsContainerMobile = ref<HTMLElement>()
const scene = ref<Rectum3D>()
const activeScene = useState("active-scene")
const activeTab = ref(0)
const isFooterNavigation = useState("isFooterNavigation")
const currentSectionId = useState<PageSectionId>("currentSectionId")
const animation = ref<Animation | null>(null)

const viewport = useViewport()

const mobileActivePoint = ref(0)
const mobileActivePointText = computed(() => {
  return (
    [
      "Rectum",
      "Internal anal sphincter",
      "External anal sphincter",
      "Anus",
      "Anal canal",
      "Haemorrhoids",
      "Anal fissures",
      "Haemorrhoids",
      "Anal fissures",
    ][mobileActivePoint.value - 1] ?? ""
  )
})

const { lockScroll } = useLockScroll()

onMounted(() => {
  gsap.registerPlugin(ScrollTrigger)
  if (container.value && textsContainer.value && textsContainerMobile.value) {
    scene.value = new Rectum3D(
      container.value,
      "/models/Rectum.glb",
      ["mobile", "tablet_portrait"].includes(viewport.value)
        ? textsContainerMobile.value
        : textsContainer.value
    )

    //mobile
    if (["mobile", "tablet_portrait"].includes(viewport.value)) {
      ////////////////

      const itemsFirst =
        container.value
          .querySelector(".scene-mobile-1")
          ?.querySelectorAll<HTMLElement>(":scope > *") ?? []
      scene.value?.setSceneElements("first", [...itemsFirst])

      const itemsSecond =
        container.value
          .querySelector(".scene-mobile-2")
          ?.querySelectorAll<HTMLElement>(":scope > *") ?? []
      scene.value?.setSceneElements("second", [...itemsSecond])

      const itemsThird =
        container.value
          .querySelector(".scene-mobile-3")
          ?.querySelectorAll<HTMLElement>(":scope > *") ?? []
      scene.value?.setSceneElements("third", [...itemsThird])
    }

    // desktop
    else {
      scene.value.on("body-unlock", () => {
        createScrollTriggerDetection()
      })

      const itemsFirst =
        container.value
          .querySelector(".scene-1")
          ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
      scene.value?.setSceneElements("first", [...itemsFirst])

      const itemsSecond =
        container.value
          .querySelector(".scene-2")
          ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
      scene.value?.setSceneElements("second", [...itemsSecond])

      const itemsThird =
        container.value
          .querySelector(".scene-3")
          ?.querySelectorAll<HTMLElement>(".scene__item") ?? []
      scene.value?.setSceneElements("third", [...itemsThird])
    }

    if (viewport.value !== "mobile") {
      ;(
        [
          "start-first-scene",
          "start-second-scene",
          "start-third-scene",
        ] as TSceneEvents[]
      ).forEach((event) => {
        scene.value?.on(event, () => {
          isFooterNavigation.value = true
        })
      })
      scene.value.on("start-first-scene", () => {
        isFooterNavigation.value = true
      })

      if (viewport.value !== "tablet_portrait") {
        scene.value.on("start-init-scene", () => {
          isFooterNavigation.value = false
        })
      } else {
        isFooterNavigation.value = true
      }
    }

    scene.value.on("scene-start", () => {
      // activeScene.value = -1
    })

    scene.value.on("scene-end", () => {
      activeTab.value = activeScene.value =
        scene.value?.getCurrentSceneId() ?? 0
      // scene.value?.getCurrentSceneId() ?? -1
    })
  }
})

watch(activeScene, (value) => {
  if (!["mobile", "tablet_portrait"].includes(viewport.value)) return
  switch (value) {
    case 0:
      mobileActivePoint.value = -1
      changeScene(0)
      break
    case 1:
      mobileActivePoint.value = 1
      changeScene(1)
      break
    case 2:
      mobileActivePoint.value = 8
      changeScene(2)
      break
    case 3:
      mobileActivePoint.value = 9
      changeScene(3)
      break
  }
})

watch(activeScene, (value) => {
  if (["mobile", "tablet_portrait"].includes(viewport.value)) return
  switch (value) {
    case 0:
      changeScene(0)
      break
    case 1:
      changeScene(1)
      break
    case 2:
      changeScene(2)
      break
    case 3:
      changeScene(3)
      break
  }
})

onMounted(() => {
  const page = document.querySelector<HTMLElement>(".page")
  if (!page) return
  animation.value = new Animation(page)
  animation.value.init()
})

function createScrollTriggerDetection() {
  if (!scene.value) return
  lockScroll(false)
  scene.value.unlockScene()
  ScrollTrigger.create({
    trigger: container.value,
    start: "top top",
    onLeaveBack: (self) => {
      currentSectionId.value = "interactive"
      document.body.style.overflow = "hidden"
      scene.value?.lockScene()
      scene.value?.setIsInEnd(false)
      self.kill()
    },
  })
}

function changeScene(i: number) {
  if (!scene.value || scene.value.is_playing) return
  const sceneNames = scene.value?.getSceneNames()
  activeTab.value = activeScene.value = i
  scene.value.changeScene(sceneNames[i])
}

const isModalVisible = useState("isModalVisible")

const emit = defineEmits(["setModal"])

function setModal(id: number) {
  isModalVisible.value = true
  emit("setModal", id)
}

onMounted(() => {
  if (["mobile", "tablet_portrait"].includes(viewport.value)) return
  lockScroll(true)
  container.value?.addEventListener("wheel", async (e) => {
    if (!scene.value || scene.value.is_playing || !scene.value.is_fixed) return
    if (scene.value.isInEnd && scene.value.is_fixed && e.deltaY > 0) {
      scene.value.emit("body-unlock")
    }

    if (e.deltaY < 0) {
      scene.value.prevScene()
    } else {
      scene.value.nextScene()
    }
  })
})

watch(currentSectionId, (value) => {
  if (["mobile", "tablet_portrait"].includes(viewport.value)) return
  switch (value) {
    case "interactive": {
      lockScroll(true)
      scene.value?.lockScene()
      break
    }
    default: {
      if (scene.value?.is_fixed) {
        scene.value?.emit("body-unlock")
      }
      break
    }
  }
})

const isDisactive = computed(() => {
  return (
    !scene.value?.is_fixed &&
    !["mobile", "tablet_portrait"].includes(viewport.value)
  )
})

onBeforeUnmount(() => {
  animation.value?.destroy()
})
</script>

<style lang="scss" scoped>
.page__3d {
  overflow: hidden;
  position: relative;
  background-image: url("/images/main/Home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.page__3d-pagination {
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  @include tabletPortrait {
    left: 16px;
  }
}
.disabled .page__3d-pagination {
  pointer-events: none;
}
.page__3d-bullet {
  width: 15px;
  height: 64px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
  color: var(--c-blue);
}
.page__3d-bullet + .page__3d-bullet {
  margin-top: 8px;
}
.page__3d-bullet.active {
  opacity: 1;
  pointer-events: none;
}
.page__3d-bullet.active:before {
  opacity: 1;
}
.page__3d-bullet > span {
  display: block;
  position: absolute;
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
  width: max-content;
  @include tabletPortrait {
    display: none;
  }
}

.page__3d-bullet:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--c-blue);
  transition: opacity 0.3s ease-out;
  opacity: 0.4;
}

@include hover {
  .page__3d-bullet:hover,
  .page__3d-bullet:hover:before {
    opacity: 1;
  }
}

.scenes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "cell";
  z-index: var(--z-top);
  pointer-events: none;
  @include tabletPortrait {
    display: none;
  }
}
.scene {
  --scene-height: 824;
  grid-area: cell;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.scene.active {
  opacity: 1;
}
.page__3d:not(.disabled) .scene.active .scene__info,
.page__3d:not(.disabled) .scene.active .scene__refferences {
  pointer-events: all;
}
.scene__info-subtitle {
  color: #7a7a7a;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  letter-spacing: -0.672px;
  @include tablet {
    font-size: 18px;
  }
}
.scene__info-subtitle.accent {
  color: var(--c-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: -0.768px;
  @include tablet {
    font-size: 20px;
  }
}

.scene__info-title {
  color: var(--c-blue);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 32px */
  letter-spacing: -0.768px;
  @include tablet {
    font-size: 24px;
  }
}
.scene__info-text {
  color: var(--c-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include tablet {
    font-size: 14px;
  }
}

.scene__info-button {
  color: var(--c-blue);
  font-family: var(--font-bold);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 106.667% */
  position: relative;
  @include tablet {
    font-size: 14px;
  }
}
.scene__info-button:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--c-blue);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: var(--transition-fast);
  transform-origin: left center;
}
@include hover {
  .scene__info-button:hover:after {
    transform: scaleX(0.5);
  }
}

.scene__info {
  position: absolute;
  width: max-content;
}
.scene__info-title + .scene__info-text {
  margin-top: 16px;
}
.scene__info-text + .scene__info-button {
  margin-top: 32px;
  @include tablet {
    margin-top: 16px;
  }
}

.scene__item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}
.scene__text {
  position: absolute;
  left: 0;
  top: 0;
}
.scene__text > svg {
  display: block;
  width: auto;
  height: auto;
}

// texts

// 1

.scene-1 .scene__item:nth-child(1) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(1) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}

// 2

.scene-1 .scene__item:nth-child(2) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(2) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 3

.scene-1 .scene__item:nth-child(3) > .scene__text {
  transform: translate(-100%, -100%);
}
.scene-1 .scene__item:nth-child(3) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}

// 4

.scene-1 .scene__item:nth-child(4) > .scene__text {
  left: unset;
  right: 0;
}
.scene-1 .scene__item:nth-child(4) .scene__info {
  right: calc(100% + 18px);
  transform: translateY(50%);
  top: 0;
}

// 5

.scene-1 .scene__item:nth-child(5) > .scene__text {
  top: unset;
  bottom: 0;
}
.scene-1 .scene__item:nth-child(5) .scene__info {
  left: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 6

.scene-1 .scene__item:nth-child(6) > .scene__text {
  top: unset;
  bottom: 0;
}
.scene-1 .scene__item:nth-child(6) .scene__info {
  left: calc(100% + 18px);
  transform: translateY(-50%);
  top: 0;
}
// 7

.scene-1 .scene__item:nth-child(7) > .scene__text {
  top: 0;
}
.scene-1 .scene__item:nth-child(7) .scene__info {
  left: calc(100% + 18px);
  top: 0;
}

// scene 2

.scene-2 > .scene__item:first-child .scene__text {
  transform: translate(-46px, -46px);
  @include tablet {
    transform: translate(-34px, -34px);
  }
}
.scene-2 > .scene__item:first-child .scene__text > svg {
  @include tablet {
    width: auto;
    height: 68px;
  }
}
.scene-2 .scene__info {
  left: calc(100% + 14px);
  top: 50%;
  width: 331px;
  @include tablet {
    width: 280px;
  }
}
.scene-2 .scene__info-text {
  color: var(--c-blue);
}

.scene-2 .scene__refferences {
  position: absolute;
  bottom: 84px;
  right: 44px;
  width: 460px;
}

// scene 4
.scene-3 > .scene__item:first-child .scene__text > svg {
  @include tablet {
    width: auto;
    height: 68px;
  }
}
.scene-3 .scene__item .scene__text {
  left: unset;
  right: 0;
  transform: translate(46px, -46px);
  @include tablet {
    transform: translate(34px, -34px);
  }
}
.scene-3 .scene__info {
  right: 264px;
  width: 331px;
  top: 0;
  @include tablet {
    width: 280px;
    right: 166px;
  }
}

.scene-3 .scene__refferences {
  position: absolute;
  left: 44px;
  width: 460px;
  bottom: 84px;
}

.pulsing {
  animation: pulsing 1s infinite alternate-reverse ease-in-out;
}
@keyframes pulsing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}

.scoll-down-indicator {
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  transition: opacity var(--transition);
  @include tabletPortrait {
    display: none;
  }
}
.scoll-down-indicator.hidden {
  opacity: 0;
}
.scoll-down-indicator > span {
  margin-right: 8px;
  color: var(--c-blue);
  font-family: var(--font-regular);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// mobile

.scenes-mobile {
  display: none;
  @include tabletPortrait {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.scene-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.scene-mobile {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}
.scene-mobile.active {
  opacity: 1;
}

.mobile-point {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  opacity: 0.7;
}
.scene-mobile.active .mobile-point {
  pointer-events: all;
}
.mobile-point__inner {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--c-blue);
}
.mobile-point:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--c-blue);
}

.mobile-point.active {
  opacity: 1;
}

.mobile-point.active .mobile-point__inner {
  animation: mobile-point-pulse 0.8s infinite alternate ease-in-out;
}

@keyframes mobile-point-pulse {
  to {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

// mobile text

.mobile-text {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: var(--font-medium);
  color: var(--c-blue);
  width: max-content;
  flex-direction: column;
  align-items: center;
  @include tabletPortrait {
    display: flex;
    bottom: 92px;
  }
  @include mobile {
    bottom: 32px;
  }
}
.mobile-text.saturated {
  color: #7a7a7a;
}
.mobile-text__label {
  font-size: 14px;
  color: var(--c-blue);
  border-bottom: 1px solid var(--c-blue);
}
</style>
