<template>
  <div class="table-section">
    <div class="table-wrapper">
      <table class="table">
        <thead class="table__thead">
          <tr>
            <th class="h1 js-fade">
              Anal fissures<span><sup>1</sup></span>
            </th>
            <th class="h1 js-fade">vs</th>
            <th class="h1 js-fade">
              Haemorrhoids<span><sup>2</sup></span>
            </th>
          </tr>
        </thead>
        <tbody class="table__tbody">
          <tr>
            <td class="white-td js-fade">
              Small tears in the skin that lines the anus.
            </td>
            <td class="blue-td js-fade">Definitions</td>
            <td class="white-td js-fade">
              Swollen veins that occur in and around the anus.
            </td>
          </tr>
          <tr>
            <td class="white-td js-fade">
              Usually caused by injury to the area. This can happen when passing
              a large or hard stool.
            </td>
            <td class="blue-td js-fade">Causes</td>
            <td class="white-td js-fade">
              Usually caused by constipation and straining to pass stools.
            </td>
          </tr>
          <tr>
            <td class="white-td js-fade">
              <ul>
                <li>
                  <span class="list-circle" />Pain during and after going to the
                  toilet
                </li>
                <li><span class="list-circle" />Cramping around the anus</li>
                <li>
                  <span class="list-circle" />Blood on toilet paper or stool
                </li>
                <li><span class="list-circle" />Itchiness around the anus</li>
              </ul>
            </td>
            <td class="blue-td js-fade">Symptoms</td>
            <td class="white-td js-fade">
              <ul>
                <li>
                  <span class="list-circle" />Bright red blood on the toilet
                  paper or in the toilet
                </li>
                <li>
                  <span class="list-circle" />Itchiness, discomfort, or pain
                  around the anus
                </li>
                <li>
                  <span class="list-circle" />Lump that protrudes out of the
                  anus
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="white-td js-fade">
              <ul>
                <li>
                  <span class="list-circle" />
                  Muscle relaxant cream (such as 0.2% glyceryl trinitrate)
                </li>
                <li><span class="list-circle" /> Pain-relieving medication</li>
                <li><span class="list-circle" />Botox injections</li>
                <li>
                  <span class="list-circle" />Some may require surgery
                  (sphincterotomy)
                </li>
              </ul>
            </td>
            <td class="blue-td js-fade">Treatment</td>
            <td class="white-td js-fade">
              <ul>
                <li>
                  <span class="list-circle" />Over-the-counter haemorrhoid
                  treatments
                </li>
                <li><span class="list-circle" />Injection (sclerotherapy)</li>
                <li><span class="list-circle" />Rubber band ligation</li>
                <li>
                  <span class="list-circle" />Some may require surgery
                  (haemorrhoidectomy)
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table__addition">
      <p class="table__addition_first b1 js-fade">
        The key difference between anal fissures and haemorrhoids is the
        location where the problem occurs in the rectum. Anal fissures are small
        external tears in the skin that lines the anus. In comparison,
        haemorrhoids are enlarged and swollen veins present inside the rectum,
        or under the skin surrounding the anus.<sup>1,2</sup>
      </p>
      <div class="table__addition_second js-fade">
        <div class="addition-title">
          <CommonButton
            text="PRINT PDF"
            link="/documents/comparison.pdf"
            :is-external="true"
          />
        </div>
        <p class="addition-references js-fade p5">
          REFERENCES: 1. Anal fissure. HealthDirect. Available at:
          <a
            href="https://www.healthdirect.gov.au/anal-fissure"
            target="_blank"
            class="p5-italic"
            >https://www.healthdirect.gov.au/anal-fissure</a
          >
          Accessed: June 2023. 2. Haemorrhoids. HealthDirect. Available at:
          <a
            href="https://www.healthdirect.gov.au/haemorrhoids-piles"
            target="_blank"
            class="p5-italic"
            >https://www.healthdirect.gov.au/haemorrhoids-piles</a
          >. Accessed: June 2023.
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.table-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 316px;
  column-gap: 64px;
  border-radius: 12px;
  background-color: var(--c-bg);
  box-shadow: 0px 44px 125px 0px rgba(17, 39, 76, 0.15);
  padding: 64px;
  @include tablet {
    display: block;
    padding: 16px;
  }
}
.table-wrapper {
  @include tablet {
    width: 100%;
    overflow-x: auto;
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0 2px;
  @include tabletPortrait {
    width: 805px;
  }
}

.table__addition {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
  padding: 5px 0;
  @include tablet {
    margin-top: 40px;
  }
}
.table__addition_second {
  @include tablet {
    margin-top: 40px;
  }
}

.addition-title {
  margin-bottom: 40px;
}

.addition-references > a {
  display: inline;
}

.table__thead th {
  text-align: left;
  padding-left: 24px;
}
.table__thead th:nth-child(2) {
  padding-left: 16px;
}

.table__tbody:before {
  line-height: 24px;
  content: ".";
  display: block;
}

.table__tbody tr:not(:last-child) {
  border-bottom: 5px solid transparent;
}

.white-td ul {
  list-style: none;
  margin-left: 18px;
}

.white-td ul li {
  position: relative;
}
.white-td ul li .list-circle {
  margin-top: 3px;
}

.list-circle {
  display: block;
  position: absolute;
  top: 5px;
  right: calc(100% + 9px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--c-black);
}

.white-td ul li:not(:last-child) {
  margin-bottom: 10px;
}

.white-td {
  width: 42.5%;
  padding: 23px 24px;
  text-align: left;
  vertical-align: baseline;
  background-color: var(--c-pure-white);
  color: var(--c-pure-black);
  leading-trim: both;
  text-edge: cap;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

.blue-td {
  width: 15%;
  padding: 23px 16px;
  background-color: var(--c-light-blue);
  color: var(--c-black);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}
th {
}
th > span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  position: relative;
  bottom: 16px;
  left: 4px;
}
</style>
