:root {
  --font-bold: "Poppins-Medium";
  --font: "Poppins-Regular";
  --font-regular: "Poppins-Regular";
  --font-light: "Poppins-Light";
  --font-medium: "Poppins-Medium";
}

:root {
  --z-top: 100;
  --z-bg: -1;
}

// colors

:root {
  --c-black: #11274c;
  --c-blue: var(--c-black);
  --c-pure-white: #ffffff;
  --c-pure-black: #000000;
  --c-bg: #f0f0f0;
  --c-light-blue: #c5f6ff;
  --c-care-blue: #35b1c9;
}

// transition

:root {
  --transition: 0.5s ease-in-out;
  --transition-fast: 0.3s ease-in-out;
  --transition-slow: 0.8s ease-in-out;
}

// viewport

:root {
  --viewport: 1440;
  @include fullHD {
    --viewport: 1920;
  }
  @include tablet {
    --viewport: 1024;
  }
  @include tabletPortrait {
    --viewport: 768;
  }
  @include mobile {
    --viewport: 375;
  }
}

/**
  * Designers make spaces with colors
  * that we can use in layout to set properties such as padding, margin, height, etc.
  *
  * example:
  * --cornflowerblue: 6.4rem;
*/

:root {
  --padding: 44px;
  --padding-lg: 88px;
  @include fullHD {
  }
  @include tablet {
  }
  @include tabletPortrait {
  }
  @include mobile {
    --padding: 16px;
    --padding-lg: 16px;
  }
}
