html {
  font-size: 62.5%;
  font-family: var(--font);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--c-bg);
  color: var(--c-blue);
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

button,
a {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  @media (hover: hover) {
    cursor: pointer;
  }
  -webkit-tap-highlight-color: transparent;
}
// remove input's autofill colors

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
