/**
  * this file includes classes for texts
  *
  * example: .h1; .p; .a2 and others
*/

// .h1 {
//   font-family: var(--font);
//   font-size: 8.4rem;
//   line-height: 1.2;
//   @include fullHD {
//     font-size: vwFullHD(84);
//   }
//   @include tablet {
//     font-size: vwTablet(56);
//   }
//   @include tabletPortrait {
//     font-size: vwTabletPortrait(48);
//   }
//   @include mobile {
//     font-size: vwMobile(32);
//   }
// }

.h1 {
  color: var(--c-black);
  font-family: var(--font-bold);
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.3px;
}

.h2 {
  font-family: var(--font-medium);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 28px */
  letter-spacing: -1.4px;
}

.b1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.b2 {
  font-family: var(--font-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.p2 {
  font-family: var(--font-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

.p5,
.p5-italic {
  color: var(--c-pure-black);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
.p5-italic {
  font-style: italic;
}
