/**
  * тут описані загальні класи анімацій для vue-компонента <transition>
*/

.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
