<template>
  <div id="interactive" />
  <div class="page">
    <div class="page__webgl">
      <MainScenes @set-modal="setModal" />
    </div>
    <div class="page__html">
      <section id="differences" class="page__table-section">
        <MainTableSection />
      </section>
      <section id="rectogesic" class="page__diagnose-section">
        <MainDiagnoseSection />
      </section>
      <section class="apply-section">
        <MainHowApply />
      </section>
      <section class="precautions-section">
        <MainPrecautionsSection />
      </section>
    </div>
    <Transition name="fade">
      <MainFixedNavigation
        v-if="isFooterNavigation && viewport !== 'mobile'"
        :active-item-id="activeNavItemId"
      />
    </Transition>
  </div>
  <Transition name="fade">
    <CommonModal
      v-if="isModalVisible"
      :sub-title="modalComputed.subTitle"
      :title="modalComputed.title"
      :description="modalComputed.description"
      :image="modalComputed.image"
      :titles-image="modalComputed.titlesImage"
      :referrences="modalComputed.referrences"
    />
  </Transition>
</template>

<script lang="ts" setup>
import { ScrollTrigger } from "gsap/all"
import { PageSectionId } from "~/types"
const isModalVisible = useState("isModalVisible", () => false)
const isFooterNavigation = useState("isFooterNavigation", () => false)

useState("active-scene", () => 0)

const viewport = useViewport()

useState<PageSectionId>("currentSectionId", () => "interactive")
const activeNavItemId = ref<PageSectionId>("interactive")

const modalId = ref(1)
const modalComputed = computed(() => {
  return modalData[modalId.value - 1]
})

const modalData = [
  {
    image: "/images/main/img1.png",
    titlesImage: "/images/main/titles1.png",
    subTitle: "Haemorrhoids",
    title:
      "Haemorrhoids (or piles) are enlarged and swollen veins in and around the anus or lower rectum. ",
    description:
      "They are sometimes referred to as ‘varicose veins’ of the anus. Haemorrhoids can develop inside the rectum (internal haemorrhoids) or under the skin around the anus (external haemorrhoids). Large internal haemorrhoids may protrude outside the anus (prolapse).<sup>1</sup>",
    referrences: `REFERENCE: 1. Haemorrhoids. HealthDirect. Available at: <a href="https://www.healthdirect.gov.au/haemorrhoids-piles" target="_blank" class="p5-italic"> https://www.healthdirect.gov.au/haemorrhoids-piles</a>. Accessed: June 2023.`,
  },
  {
    image: "/images/main/img2.png",
    titlesImage: "/images/main/titles2.png",
    subTitle: "Anal fissures",
    title:
      "Anal fissures are small tears or cracks in the skin that lines the anus and are often caused by passing hard stools.",
    description:
      "Unlike haemorrhoids, anal fissures typically cause pain and bleeding during and after bowel movements. Other symptoms of anal fissure may include itchiness and small skin tags or lumps near the site of the fissure.<sup>1</sup>",
    referrences: `REFERENCE: 1. Anal fissure. HealthDirect. Available at: <a href="https://www.healthdirect.gov.au/anal-fissure" target="_blank" class="p5-italic" />https://www.healthdirect.gov.au/anal-fissure</a> Accessed: June 2023. `,
  },
]

function setModal(id: number) {
  modalId.value = id
}

// create observers to set section id

function createSectionObservers() {
  const interactiveSection = document.querySelector("#interactive")
  const diffSection = document.querySelector("#differences")
  const rectogesicSection = document.querySelector("#rectogesic")

  interactiveSection &&
    ScrollTrigger.create({
      trigger: interactiveSection,
      start: "top bottom",
      onEnter: () => {
        activeNavItemId.value = "interactive"
      },
      onEnterBack: () => {
        activeNavItemId.value = "interactive"
      },
    })

  diffSection &&
    ScrollTrigger.create({
      trigger: diffSection,
      start: "top bottom",
      onLeaveBack: () => {
        activeNavItemId.value = "interactive"
      },
      onEnter: () => {
        activeNavItemId.value = "differences"
      },
      onEnterBack: () => {
        activeNavItemId.value = "differences"
      },
    })

  rectogesicSection &&
    ScrollTrigger.create({
      trigger: rectogesicSection,
      start: "top bottom",
      onEnter: () => {
        activeNavItemId.value = "rectogesic"
      },
    })
}

onMounted(() => {
  nextTick(() => {
    createSectionObservers()
  })
})
</script>

<script lang="ts">
export default {
  name: "MainPage",
}
</script>

<style scoped lang="scss">
.page {
  width: 100%;
  isolation: isolate;
}
.page__webgl {
  position: sticky;
  top: 0;
  z-index: var(--z-bg);
}
.page__html {
  position: relative;
  background: var(--c-bg);
}

.page__table-section {
  padding: 16px 24px;
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page__diagnose-section {
  padding: 104px var(--padding-lg) 80px;
  @include mobile {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

.apply-section {
  padding: 0 var(--padding-lg) 80px;
  @include mobile {
    padding-bottom: 64px;
  }
}

.precautions-section {
  padding: 0px var(--padding-lg) 32px var(--padding-lg);
}
</style>
