<template>
  <div id="interactive" />
  <div class="page">
    <div class="page__3d">
      <MainScenesWithoutWheelDetection @set-modal="setModal" />
    </div>
    <div class="page__html">
      <section id="differences" class="page__table-section">
        <MainTableSection />
      </section>
      <section id="rectogesic" class="page__diagnose-section">
        <MainDiagnoseSection />
      </section>
      <section class="apply-section">
        <MainHowApply />
      </section>
      <section class="precautions-section">
        <MainPrecautionsSection />
      </section>
    </div>
    <MainFixedNavigationAlternate />
  </div>
  <Transition name="fade">
    <CommonModal
      v-if="isModalVisible"
      :sub-title="modalComputed.subTitle"
      :title="modalComputed.title"
      :description="modalComputed.description"
      :image="modalComputed.image"
      :titles-image="modalComputed.titlesImage"
    />
  </Transition>
</template>

<script lang="ts" setup>
const isModalVisible = useState("isModalVisible", () => false)

const modalId = ref(1)
const modalComputed = computed(() => {
  return modalData[modalId.value - 1]
})

const modalData = [
  {
    image: "/images/main/img1.png",
    titlesImage: "/images/main/titles1.png",
    subTitle: "Haemorrhoids",
    title:
      "Haemorrhoids (or piles) are enlarged and swollen veins in and around the anus or lower rectum. ",
    description:
      "They are sometimes referred to as ‘varicose veins’ of the anus. Haemorrhoids can develop inside the rectum (internal haemorrhoids) or under the skin around the anus (external haemorrhoids). Large internal haemorrhoids may protrude outside the anus (prolapse).2",
  },
  {
    image: "/images/main/img2.png",
    titlesImage: "/images/main/titles2.png",
    subTitle: "Anal fissures",
    title:
      "Anal fissures are small tears or cracks in the skin that lines the anus and are often caused by passing hard stools.",
    description:
      "Unlike haemorrhoids, anal fissures typically cause pain and bleeding during and after bowel movements. Other symptoms of anal fissure may include itchiness and small skin tags or lumps near the site of the fissure.",
  },
]

function setModal(id: number) {
  modalId.value = id
}

const { lockScroll } = useLockScroll()

watch(isModalVisible, (value) => {
  lockScroll(value)
})
</script>

<script lang="ts">
export default {
  name: "MainPage2",
}
</script>

<style scoped lang="scss">
.page {
  width: 100%;
  isolation: isolate;
}
.page__3d {
  position: sticky;
  top: 0;
  z-index: var(--z-bg);
}
.page__html {
  position: relative;
  background: var(--c-bg);
}

.page__table-section {
  padding: 16px 24px;
}

.page__diagnose-section {
  padding: 104px 88px 80px;
}

.apply-section {
  padding: 0 88px 80px;
}

.precautions-section {
  padding: 0px 88px 32px 88px;
}
</style>
